
$r:#F00;
@mixin box(){
  height:300px;
  border:1px solid #999;
}
.p_index{
  .index_header{
    background:#EEE ;
    @include box();
  }
  .welcome{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: bold;
    color: $r;
    justify-content: center;
    align-items: center;
  }
  main{
    padding:0 15px;
  }
}


